@font-face {
    font-family: bespoke;
    src: url(BespokeSerif-Regular.otf);
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
#container{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#rectangle{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    height: 35vh;
    width: 45vw;
    border-radius: 1em;
    color: #E3E8EF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-family: bespoke;
    text-align: center;
}
button {
    font-family: bespoke;
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #4338ca;
  }
#mixedMessage{
    text-align: center;
    font-size: xx-large ;
}
@media screen and (max-width:862px) and (min-width:625px){
    #mixedMessage{
        font-size: medium;
    }
    button{
        border-radius: 0.5em;
        width: 12vw;
    }
}
@media screen and (max-width:624px) and (min-width:425px){
    #rectangle{
        width: 60vw;
    }
    button{
        width: 25vw;
    }
    #mixedMessage{
        font-size: medium;
    }
}
@media screen and (max-width:424px){
    h1,button{
        font-size: small;
    }
    #mixedMessage{
        font-size: x-small;
    }
    button{
        width: 20vw;
    }
}